@model List<Customer>
  
@{
	ViewBag.Title = "Customers";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
    </tr>
  </thead>
  <tbody>
    @foreach(var customer in Model){
    <tr>
      <th scope="row">@customer.Id</th>
      <td>@customer.Name</td>
    </tr>
    }
  </tbody>
</table>
